<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.TODOMapper">
    <insert id="Register">
        insert into UserDB(ID,password) values(#{ID}, #{password})
    </insert>
    <select id="Login" resultType="domain.User">
        select * from UserDB where ID = #{ID}
    </select>
</mapper>