<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.TODOMapper">
    <insert id="Create">
        insert into TODO_Lists(TodoType,Todo,User_ID,scheduled_at) values(#{todoType},#{todo},#{user_ID},#{scheduled_at})
    </insert>

    <select id="Read" resultType="domain.TODOList">
        select*from TODO_Lists where User_ID = #{user_ID} AND is_deleted = 0
    </select>

    <update id="Update">
        update TODO_Lists set TodoType = #{todoType}, TODO = #{todo}, scheduled_at = #{scheduled_at} where id = #{id}
    </update>

    <update id="Delete">
        update TODO_Lists set is_deleted = 1, deleted_at = now() where id = #{id}
    </update>

    <select id="getTime">
        select scheduled_at from TODO_Lists where id = {id};
    </select>
</mapper>