<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.TODOMapper">
    <insert id="Create">
        INSERT INTO TODO_Lists(TodoType,Todo,User_ID,scheduled_at)
        VALUES(#{todoType},#{todo},#{user_ID},#{scheduled_at});
    </insert>

    <select id="Read" resultType="domain.TODOList">
        SELECT id,TodoType,Todo,scheduled_at,is_finished
        FROM TODO_Lists
        WHERE User_ID = #{user_ID} AND is_deleted = 0 AND is_archived = 0;
    </select>

    <update id="Update">
        UPDATE TODO_Lists
        SET TodoType = #{todoType}, TODO = #{todo}, scheduled_at = #{scheduled_at}
        WHERE id = #{id};
    </update>

    <update id="Delete">
        UPDATE TODO_Lists SET is_deleted = 1 WHERE id = #{id};
    </update>

    <update id="Archive">
        INSERT INTO Archive_Lists(TodoType,Todo,User_ID)
        VALUES(#{todoType},#{todo},#{user_ID});
    </update>

    <update id="deleteArchive">
        UPDATE TODO_Lists SET is_archived = 1 WHERE id = #{id};
    </update>

    <update id="checkScheduleTrue">
        UPDATE TODO_Lists SET is_finished = 1
        WHERE user_id = #{user_id} AND scheduled_at &lt; now() AND is_deleted = 0 AND is_archived = 0;
    </update>

    <update id="checkScheduleFalse">
        UPDATE TODO_Lists SET is_finished = 0
        WHERE user_id = #{user_id} AND scheduled_at > now() AND is_deleted = 0 AND is_archived = 0
        OR user_id = #{user_id} AND scheduled_at IS NULL AND is_deleted = 0 AND is_archived = 0;
    </update>

    <select id="readArchive" resultType="domain.TODOList">
        SELECT TodoType,Todo,scheduled_at,user_ID
        FROM TODO_Lists
        WHERE ID = #{id}
    </select>

    <select id="checkList" resultType="domain.TODOList">
        SELECT id FROM TODO_Lists WHERE ID = #{id}
    </select>

    <select id="checkListDeleted" resultType="domain.TODOList">
        SELECT is_deleted,is_archived FROM TODO_Lists WHERE ID = #{id}
    </select>
</mapper>