<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.UserMapper">
    <insert id="Register">
        INSERT INTO Users(AccountID,Password) VALUES(#{accountID}, #{password})
    </insert>
    <select id="Login" resultType="domain.User">
        SELECT * FROM Users WHERE AccountID = #{accountID}
    </select>
    <select id="CheckAccountID" resultType="domain.User">
        SELECT accountID FROM Users WHERE AccountID = #{accountID}
    </select>
</mapper>