<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.UserMapper">
    <insert id="Register">
        insert into Users(User_AccountID,User_Password) values(#{user_accountID}, #{user_password})
    </insert>
    <select id="Login" resultType="domain.User">
        select * from Users where User_AccountID = #{user_accountID}
    </select>
</mapper>